$main-color: #0e2439;
$primary-color: #6dd;
$header-color: #1f364d;
$btn-color: #214b75;

.black-theme {
    body {
        background-image: linear-gradient(to bottom, $header-color 56px,$main-color 100%);
        color: #bbb;
    }

    #head {
        background: $header-color;
    }

    a {
        color: $primary-color;
    }

    a:hover {
        color: #55ceeb;
    }

    .control {
        color: #999;
    }

    #sort-buttons a:hover, .is-active {
        color: #ddd;
    }

    .btn {
        background-color: #ccc;
        color: #333;
    }

    a.btn:hover {
        color: #000;
    }

    .btn-primary {
        background-color: #3bb;
    }

    .post-title {
        color: #ddd;
    }

    .post-title:visited {
        color: #aaa;
    }

    a.control:hover, .post-title:hover {
        background-color: #274059;
        border-radius: 2px;
        color: #FFF;
    }

    .button-text {
        color: #ccc;
        background: $main-color;
    }

    input#search:focus, input#search:active, input#search_groups, input#search_groups:active{
        outline:none;
        color: #ddd;
    }

    input#search_groups:-ms-input-placeholder {
        color: #bbb;
        font-weight: 600;
    }
    input#search_groups::-webkit-input-placeholder {
        color: #bbb;
        font-weight: 600;
    }

    .divider {
        background: #333;
    }

    span.logo {
        color: #aaa;
    }

    label {
        color: #bbb;
    }

    .icon-button i {
        color: #bbb;
    }

    .icon-button:hover i {
        color: $primary-color;
    }

    .ver_divider {
        background: linear-gradient(to bottom, $header-color 0%, #999 53%, $main-color 100%) /* W3C */
    }

    .mention {
        color: $primary-color;
    }

    .right-sub h5 {
        color: #aaa;
    }

    .post-page-title {
        color: #ddd;
    }

    .hr-divider {
        background-color: rgb(211,211,211);
    }

    .divider-text:after {
        color: rgb(127,127,127);
        background-color: $header-color;
    }

    .rc-dialog-content {
        background-color: $header-color;
    }

    .rc-dialog-close {
        color: #ddd;
    }

    .rc-dialog-header {
        color: #fff;
        border-bottom: 1px solid #666;
    }

    input#search {
        background: $header-color;
        color: #FFF;
    }

    #modal-panel {
        background: $header-color;
    }

    svg:hover {
        fill: $primary-color;
    }

    .tag {
        background: #274059;
        color: $primary-color;
    }

    .tag.active {
        color: $primary-color;
        background: #000;
    }

    .radio-button {
        border: 1px solid #bbb;
    }

    .highlight-area {
        background: $header-color;
    }

    #back-to-top {
        background: $btn-color;
    }

    pre > code, .hljs {
        background: $header-color;
    }

    #post-box, textarea {
        color: #ccc;
        border: 1px solid #777;
    }

    .editor h1 a, .editor h2 a, .editor h3 a, .editor h4 a, .editor h5 a, .editor h6 a {
        color: #ddd;
    }

    .comments .col-item {
        border-bottom: 1px solid #353535;
    }

    .col-item:last-child {
        border-bottom: none;
    }

    .menu-item:hover {
        background: #ddd;
    }

    .heading-1 {
        color: #ddd;
    }
}
