.black-theme body {
  background-image: linear-gradient(to bottom, #1f364d 56px, #0e2439 100%);
  color: #bbb;
}
.black-theme #head {
  background: #1f364d;
}
.black-theme a {
  color: #6dd;
}
.black-theme a:hover {
  color: #55ceeb;
}
.black-theme .control {
  color: #999;
}
.black-theme #sort-buttons a:hover, .black-theme .is-active {
  color: #ddd;
}
.black-theme .btn {
  background-color: #ccc;
  color: #333;
}
.black-theme a.btn:hover {
  color: #000;
}
.black-theme .btn-primary {
  background-color: #3bb;
}
.black-theme .post-title {
  color: #ddd;
}
.black-theme .post-title:visited {
  color: #aaa;
}
.black-theme a.control:hover, .black-theme .post-title:hover {
  background-color: #274059;
  border-radius: 2px;
  color: #FFF;
}
.black-theme .button-text {
  color: #ccc;
  background: #0e2439;
}
.black-theme input#search:focus, .black-theme input#search:active, .black-theme input#search_groups, .black-theme input#search_groups:active {
  outline: none;
  color: #ddd;
}
.black-theme input#search_groups:-ms-input-placeholder {
  color: #bbb;
  font-weight: 600;
}
.black-theme input#search_groups::-webkit-input-placeholder {
  color: #bbb;
  font-weight: 600;
}
.black-theme .divider {
  background: #333;
}
.black-theme span.logo {
  color: #aaa;
}
.black-theme label {
  color: #bbb;
}
.black-theme .icon-button i {
  color: #bbb;
}
.black-theme .icon-button:hover i {
  color: #6dd;
}
.black-theme .ver_divider {
  background: linear-gradient(to bottom, #1f364d 0%, #999 53%, #0e2439 100%);
}
.black-theme .mention {
  color: #6dd;
}
.black-theme .right-sub h5 {
  color: #aaa;
}
.black-theme .post-page-title {
  color: #ddd;
}
.black-theme .hr-divider {
  background-color: lightgray;
}
.black-theme .divider-text:after {
  color: #7f7f7f;
  background-color: #1f364d;
}
.black-theme .rc-dialog-content {
  background-color: #1f364d;
}
.black-theme .rc-dialog-close {
  color: #ddd;
}
.black-theme .rc-dialog-header {
  color: #fff;
  border-bottom: 1px solid #666;
}
.black-theme input#search {
  background: #1f364d;
  color: #FFF;
}
.black-theme #modal-panel {
  background: #1f364d;
}
.black-theme svg:hover {
  fill: #6dd;
}
.black-theme .tag {
  background: #274059;
  color: #6dd;
}
.black-theme .tag.active {
  color: #6dd;
  background: #000;
}
.black-theme .radio-button {
  border: 1px solid #bbb;
}
.black-theme .highlight-area {
  background: #1f364d;
}
.black-theme #back-to-top {
  background: #214b75;
}
.black-theme pre > code, .black-theme .hljs {
  background: #1f364d;
}
.black-theme #post-box, .black-theme textarea {
  color: #ccc;
  border: 1px solid #777;
}
.black-theme .editor h1 a, .black-theme .editor h2 a, .black-theme .editor h3 a, .black-theme .editor h4 a, .black-theme .editor h5 a, .black-theme .editor h6 a {
  color: #ddd;
}
.black-theme .notifications .col-item, .black-theme .comments .col-item, .black-theme .reports .col-item, .black-theme .moderation-logs .col-item {
  border-bottom: 1px solid #353535;
}
.black-theme .col-item:last-child {
  border-bottom: none;
}
.black-theme .menu-item:hover {
  background: #ddd;
}
.black-theme .heading-1 {
  color: #ddd;
}
.black-theme .user-posts .post-title:visited {
  color: #ccc;
}
.black-theme table thead tr th, .black-theme table thead tr td, .black-theme table tfoot tr th, .black-theme table tfoot tr td {
  color: #ddd;
}
.black-theme table tr th, .black-theme table tr td {
  color: #ddd;
}

/*# sourceMappingURL=black-theme.css.map */
