.none-scroll::-webkit-scrollbar {
        display: none;
}

.empty-posts {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 4px;
    min-height: calc(100vh - 56px - 100px)!important;
    padding: 12;
}

.editor textarea:focus, .editor input:focus{
    outline: none;
}

div.editor {
    word-wrap: break-word;
}

.rc-dropdown .editor p {
    font-size: 1em;
}

.center-area  {
    max-width: 768px;
    margin: 0 auto;
}

.comment-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 12px 0 64px 0;
    background: transparent;
}
/* .post #toc li { */
/*     margin: 6px 0; */
/* } */

.org-mode .timestamp {
    background: bisque;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 6px;
}

.org-mode .priority {
    color: blue;
    margin: 0 12px;
}

.org-mode .heading-tag {
    background: #E3E3E3;
    color: #071839;
    padding: 0 6px;
    margin: 0 6px;
}

span.task-status {
    padding: 0 0.2em;
    margin-left: 12px;
    color: white;
}

span.task-status.todo {
    color: white;
    background-color: rgb(39, 149, 182);
}

span.task-status.done {
    color: white;
    background-color: rgb(81, 143, 31);
}

.field:not(:last-child) {
    margin-bottom: .75rem;
}

.help, .is-danger {
    color: #ff3860;
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}

.input.is-danger {
    border-color: #ff3860;
}

.input.is-success {
    border-color: #23d160;
}

.editor .ant-input {
    padding: 0;
    line-height: 1.2em;
}

hr, .divider {
    display: block;
    border: none;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    font-size: 14px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    background: #e8e8e8;
}

.post-preview a {
    outline: 0;
}

code {
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    font-size: 1rem;
    line-height: 1rem;
    padding: 2px 3px 1px;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
    color: rgba(0,0,0,0.85);
}

.editor img, .post-item-content img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.home .editor img {
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: 300px;
}

.editor img.emoji, .post-item-content img.emoji {
    display: inline-block;
    margin: 0;
}

.foot-lnk{
    text-align:center;
}

.scale {
    -webkit-transition: -webkit-transform .15s linear;
 }

a.scale:hover {
    transform: scale(1.125);
    -webkit-transform: scale(1.125);
    -moz-transform: scale(1.125);
}

.number {
    font-family: Helvetica,Arial,sans-serif;
    color: rgb(127,127,127);
}

br {
    content: "";
    margin: 1.5em;
    display: block;
    font-size: 24%;
}

.ant-avatar img {
    margin: 0;
}

span.logo {
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
}

#head div{
    display: flex;
}

.comment h1, .comment h2, .comment h3, .comment h4, .comment h1, .comment h5, .comment h6 {
    margin: 6px 0;
    font-weight: 600;
}

label {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 600;
}

.sidebarblock>.content>.title {
    text-align: center;
    margin-top: 0;
}

.fa-check-square-o:before {
    content: "\f046";
}

.fa-square-o:before {
    content: "\f096";
}

.form h1 {
    margin-top: 0;
}

.form input[type="checkbox"]{
    display:none;
}
.form input[type="checkbox"] + label.fa {
    font-size: 21px;
    height: 21px;
    cursor: pointer;
}
.form input[type="checkbox"]:checked +label.fa{
    background: #fff;
}
.form input[type="checkbox"] + label.fa:before {
    display:inline-block;
    content: "\f096";
    cursor:pointer;
}

.form input[type="checkbox"]:checked +label.fa:before{
    content:"\f046";
}

input[type=checkbox] + label:before {
    letter-spacing: 10px;
}

input.white::placeholder {
    color: #ccc;
}

input.white:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hover-shadow:hover
{
    -moz-box-shadow: 0 5px 20px #333;
    -webkit-box-shadow: 0 5px 20px #333;
    box-shadow: 0 5px 20px #333;
}

a.set-cover {
    display: none;
}

.show-hover:hover .set-cover {
    display: block;
}

.user-card {
    box-shadow: 0 4px 20px #dfdfdf;
}
.user-card .editor p, .comment .editor p {
    margin-bottom: 0;
    margin-top: 0;
}

.twitter svg:hover {
    fill: #3BA9EE;
}

.delete:hover svg {
    fill: red;
}

.delete:hover {
    color: red;
}

a.delete {
    text-decoration: none;
    color: #696969;
}


a.logo:hover svg {
    fill: #FFF;
}

.ver_divider {
    width: 1px!important;
    background: #dfdfdf;
}

.images {
    display: flex;
    flex: 1;
    justify-content: center;
}

.images img {
    object-fit: contain;
    margin: 24px;
}

.post {
    max-width: 768px;
    margin: 0 auto;
}


.right-sub {
    margin-bottom: 12px;
    display: block;
}

.right-sub h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
}

.post-page-title {
    margin-top: 0;
    font-size: 230%;
}

.user-posts .col-item {
    border-bottom: none;
}

#nav-bar {
    position: fixed;
}

@media screen and (min-width: 768px) {
    .heading-1 {
        font-size: 2.875rem;
    }

    .posts-headers {
        font-size: 1.125rem;
    }

    .user-posts .posts {
        box-shadow: none;
    }

    .user-posts .post-title {
        font-size: 1.3em;
    }
    .col-item {
        padding: 12px 0;
    }
}


@media screen and (max-width: 768px) {
    .col-item {
        padding: 12px;
    }

    /* .col-item:hover { */
    /*     background: #f0f8ff; */
    /* } */

    #head {
        padding: 3px 12px;
    }

    .heading-1 {
        font-size: 2.125rem;
    }
    span.logo {
        font-size: 20px;
    }

    .right-sub {
        padding: 12px 0;
    }

    .right-sub h5 {
        font-size: 1.25em;
    }

    .user-posts .post-title {
        font-size: 1.25em;
    }

    .auto-padding {
        padding-left: 12px;
        padding-right: 12px;
    }

    .post-page .auto-padding {
        padding-left: 24px;
        padding-right: 24px;
    }

    .posts-headers {
        font-size: 1rem;
    }

    .post-page-title {
        font-size: 2rem;
    }
}

.divider-text {
    position: relative;
    overflow: visible;
    margin: 1.875rem 0 1.25rem;
}

.divider-text:after {
    content: attr(data-text);
    position: absolute;
    top: -.687rem;
    padding-right: .625rem;
    font-size: .875rem;
}

.divider-text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-left: .625rem;
}

blockquote, .quote-header {
    margin: 0.5em 0;
    border-left: 5px solid #d9d9d9;
    padding: 6px 12px;
    letter-spacing: 0;
    text-align: justify;
    background: #f2f2f2;
}

.quote-header {
    margin-bottom: -1em;
    padding: 10px 0 6px 12px;
}

blockquote p {
    margin-bottom: 0;
    margin-top: 0;
}

.post-item p {
    margin-bottom: 0.5em;
}

.org-mode #content {
    padding: 0;
}

.comment-box .concate, .comment .concate {
    margin-bottom: -1.5em;
}

.markdown ul, .markdown ol {
    margin-bottom: 1.25em;
}

#stats table {
    background: none;
    border: none;
}

#stats table thead, #stats table tfoot {
    background: none;
}

#stats table tr.even, #stats table tr.alt, #stats table tr:nth-of-type(even) { background: none; }

.post-page a:hover {
    text-decoration: underline;
}

.cover {
    position: relative;
    display: inline-block;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    persepctive: 1000px;
}
.cover .box {
    transform: rotateY(40deg);
}

input#search {
    color: #fff;
}

pre, pre > code { line-height: 1.4; font-family: "Droid Sans Mono","DejaVu Sans Mono","Monospace",monospace; font-weight: normal; }

pre code {
    display: block;
}

/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre-wrap; }

.hr-divider {
    display: block;
    margin: 1.25rem 0;
    height: 1px;
    width: 100%;
    border: 0;
}

.org-left { margin-left: 0px;  margin-right: auto; text-align: left; }
table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center;  }
th.org-left   { text-align: center;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }
