$main-color: #FFF;
$primary-color: #007bff;
$header-color: #FFF;
$btn-color: #214b75;


body.white-theme {
    background: $main-color;
    color: #212529;
}

.white-theme {
    #head {
        background: $header-color;
    }

    a {
        color: $primary-color;
    }

    a:hover {
        color: #0056b3;
    }

    .control {
        color: #666;
    }

    #sort-buttons a:hover, .is-active {
        color: #000;
    }

    .btn {
        background-color: #ccc;
        color: #333;
    }

    a.btn:hover {
        color: #000;
    }

    .divider {
        color: rgba(0,0,0,0.65);
    }

    label {
        color: #666;
    }

    .radio-button {
        background: #fff;
        border: 1px solid #999;
    }

    #back-to-top {
        background: #aaa;
    }
}
