{:up ["drop table groups"
      "drop table choices"
      "alter table posts drop column group_id"
      "alter table posts drop column group_name"
      "alter table posts drop column channel_name"
      "alter table posts drop column is_serial"
      "alter table posts drop column is_wiki"
      "alter table posts drop column canonical_url"
      "alter table posts drop column non_tech"
      "alter table posts drop column poll_closed"
      "alter table posts drop column choices"
      "alter table users drop column stared_groups"
      "alter table users drop column karma"
      "alter table users drop column validated"
      "alter table blocks drop column group_id"
      "alter table blocks drop column group_admin"
      "alter table invites drop column group_name"
      "alter table reports drop column group_id"
      ]
 :down "select * from posts limit 1"}
